USE [NguoiPhuThuoc]
GO
/****** Object:  StoredProcedure [dbo].[Update_DanhSachNguoiPhuThuoc]    Script Date: 01/08/2016 16:37:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[Update_DanhSachNguoiPhuThuoc]     
	@NguoiTao char(30),
	@TenCqChiTra nvarchar(200),
	@CqThue char(15),
	@MSTCqChiTra char(16),
	@MSTNNT char(16),
	@TenNNT nvarchar(100),
	@MSTNPT char(15),
	@TenNPT nvarchar(100),
	@NgaySinhNPT datetime,
	@CMNDNPT nchar(10),
	@ThangBDGiamTru datetime,
	@QuanHe char(10),
	@GKS_So char(50),
	@GKS_QuyenSo char(50),
	@LanBoSung smallint,
	@MauBKTK char(50) ,
	@NgayCapMST datetime,
	@NgayTaoMST datetime,
	@NgayThayDoi datetime,
	@MoTa nvarchar(100),
	@GKS_QuocGia char(10),
	@GKS_TinhTP char(5),
	@GKS_QuanHuyen char(10),
	@GKS_PhuongXa char(10),
	@CoHS char(5),
	@MaNNT_NNT char(15),
	@MaNNT_NPT char(15),
	@TenCqThue nvarchar(100),
	@MaNNT_CqThue char(15),
	@HoChieu char(50),
	@HoChieu_QuocGia char(10)
AS

INSERT INTO DSNPT (
    NguoiTao ,
	TenCqChiTra ,
	CqThue ,
	MSTCqChiTra ,
	MSTNNT ,
	TenNNT ,
	MSTNPT ,
	TenNPT ,
	NgaySinhNPT ,
	CMNDNPT ,
	ThangBDGiamTru ,
	QuanHe ,
	GKS_So ,
	GKS_QuyenSo,
	LanBoSung ,
	MauBKTK  ,
	NgayCapMST ,
	NgayTaoMST ,
	NgayThayDoi ,
	MoTa ,
	GKS_QuocGia ,
	GKS_TinhTP ,
	GKS_QuanHuyen ,
	GKS_PhuongXa ,
	CoHS ,
	MaNNT_NNT ,
	MaNNT_NPT ,
	TenCqThue ,
	MaNNT_CqThue ,
	HoChieu ,
	HoChieu_QuocGia  ) 
VALUES (
    @NguoiTao ,
	@TenCqChiTra ,
	@CqThue ,
	@MSTCqChiTra ,
	@MSTNNT ,
	@TenNNT ,
	@MSTNPT ,
	@TenNPT ,
	@NgaySinhNPT ,
	@CMNDNPT ,
	@ThangBDGiamTru ,
	@QuanHe ,
	@GKS_So ,
	@GKS_QuyenSo,
	@LanBoSung ,
	@MauBKTK  ,
	@NgayCapMST ,
	@NgayTaoMST ,
	@NgayThayDoi ,
	@MoTa ,
	@GKS_QuocGia ,
	@GKS_TinhTP ,
	@GKS_QuanHuyen ,
	@GKS_PhuongXa ,
	@CoHS ,
	@MaNNT_NNT ,
	@MaNNT_NPT ,
	@TenCqThue ,
	@MaNNT_CqThue ,
	@HoChieu ,
	@HoChieu_QuocGia)

